{% schema %}
{
  "name": "Back Button",
  "settings": [
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Text",
        "default": "Back"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Back Button"
    }
  ]
}
{% endschema %}

<div class="back-button-wrapper color-{{ section.settings.color_scheme }} gradient">
<div class="page-width">
  <button type="button" class="back-button button" onclick="window.history.back();">
    {{ section.settings.button_label }}
  </button>
</div>
</div>

<style>
  .back-button-wrapper {
    padding: 20px 0 0;
  }
  .back-button {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    {% comment %} border-radius: 4px; {% endcomment %}
    transition: background 0.3s ease;
    font-size: 1.5rem;
    letter-spacing: .1rem;
  }
  .back-button:hover {
    background-color: transparent;
    color: rgba(var(--color-button),var(--alpha-button-background));
  }
</style>
